--
-- PostgreSQL database dump
--

\restrict IIgMRrcSQ7OOKwDAs9XTXyrxQa9Qb2QIJb3WV1dpWxI4YCrlGwTAnZO4uvUnKaj

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE ONLY public.registros_parqueo DROP CONSTRAINT registros_parqueo_placa_fkey;
DROP TRIGGER tg_validar_vehiculo_dentro ON public.registros_parqueo;
DROP TRIGGER tg_prevenir_eliminacion_registros ON public.registros_parqueo;
DROP TRIGGER tg_formatear_placa_mayusculas ON public.vehiculos;
DROP TRIGGER tg_auditoria_usuarios ON public.usuarios;
DROP TRIGGER tg_actualizar_estado_salida ON public.registros_parqueo;
ALTER TABLE ONLY public.vehiculos DROP CONSTRAINT vehiculos_pkey;
ALTER TABLE ONLY public.usuarios DROP CONSTRAINT usuarios_username_key;
ALTER TABLE ONLY public.usuarios DROP CONSTRAINT usuarios_pkey;
ALTER TABLE ONLY public.registros_parqueo DROP CONSTRAINT registros_parqueo_pkey;
ALTER TABLE ONLY public.cierres_caja DROP CONSTRAINT cierres_caja_pkey;
ALTER TABLE ONLY public.auditoria_usuarios DROP CONSTRAINT auditoria_usuarios_pkey;
ALTER TABLE public.usuarios ALTER COLUMN id_usuario DROP DEFAULT;
ALTER TABLE public.registros_parqueo ALTER COLUMN id_registro DROP DEFAULT;
ALTER TABLE public.cierres_caja ALTER COLUMN id_cierre DROP DEFAULT;
ALTER TABLE public.auditoria_usuarios ALTER COLUMN id_auditoria DROP DEFAULT;
DROP TABLE public.vehiculos;
DROP SEQUENCE public.usuarios_id_usuario_seq;
DROP TABLE public.usuarios;
DROP SEQUENCE public.registros_parqueo_id_registro_seq;
DROP TABLE public.registros_parqueo;
DROP SEQUENCE public.cierres_caja_id_cierre_seq;
DROP TABLE public.cierres_caja;
DROP SEQUENCE public.auditoria_usuarios_id_auditoria_seq;
DROP TABLE public.auditoria_usuarios;
DROP FUNCTION public.reporte_ingresos_diarios(p_fecha date);
DROP FUNCTION public.reporte_ingresos_desde_reinicio();
DROP FUNCTION public.registrar_salida(p_placa character varying);
DROP FUNCTION public.registrar_entrada(p_placa character varying, p_tipo character varying);
DROP FUNCTION public.obtener_vehiculos_dentro();
DROP FUNCTION public.fn_tr_validar_vehiculo();
DROP FUNCTION public.fn_tr_prevenir_borrado();
DROP FUNCTION public.fn_tr_placa_mayusculas();
DROP FUNCTION public.fn_tr_auditoria_usuarios();
DROP FUNCTION public.fn_tr_actualizar_estado();
DROP FUNCTION public.calcular_tarifa(p_id_registro integer);
--
-- Name: calcular_tarifa(integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.calcular_tarifa(p_id_registro integer) RETURNS numeric
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_fecha_ent TIMESTAMP;
    v_tipo VARCHAR;
    v_horas INT;
    v_total NUMERIC;
BEGIN
    SELECT fecha_entrada, v.tipo_vehiculo INTO v_fecha_ent, v_tipo
    FROM registros_parqueo r
    JOIN vehiculos v ON r.placa = v.placa
    WHERE r.id_registro = p_id_registro;

   
    v_horas := CEIL(EXTRACT(EPOCH FROM (CURRENT_TIMESTAMP - v_fecha_ent)) / 3600);
    
  
    IF v_tipo = 'Carro' THEN
        v_total := v_horas * 3000;
    ELSE
        v_total := v_horas * 1500;
    END IF;
    
    RETURN v_total;
END;
$$;


ALTER FUNCTION public.calcular_tarifa(p_id_registro integer) OWNER TO postgres;

--
-- Name: fn_tr_actualizar_estado(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_tr_actualizar_estado() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.fecha_salida IS NOT NULL THEN
        NEW.estado := 'Finalizado';
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.fn_tr_actualizar_estado() OWNER TO postgres;

--
-- Name: fn_tr_auditoria_usuarios(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_tr_auditoria_usuarios() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    INSERT INTO auditoria_usuarios(id_usuario, username, accion)
    VALUES (NEW.id_usuario, NEW.username, 'REGISTRO');
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.fn_tr_auditoria_usuarios() OWNER TO postgres;

--
-- Name: fn_tr_placa_mayusculas(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_tr_placa_mayusculas() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.placa := UPPER(NEW.placa);
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.fn_tr_placa_mayusculas() OWNER TO postgres;

--
-- Name: fn_tr_prevenir_borrado(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_tr_prevenir_borrado() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    RAISE EXCEPTION 'No est┬á permitido eliminar registros hist┬óricos del parqueadero por auditor┬ía';
    RETURN NULL;
END;
$$;


ALTER FUNCTION public.fn_tr_prevenir_borrado() OWNER TO postgres;

--
-- Name: fn_tr_validar_vehiculo(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_tr_validar_vehiculo() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF EXISTS (SELECT 1 FROM registros_parqueo WHERE placa = NEW.placa AND estado = 'Activo') THEN
        RAISE EXCEPTION 'El veh┬ículo con placa % ya se encuentra dentro del parqueadero', NEW.placa;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.fn_tr_validar_vehiculo() OWNER TO postgres;

--
-- Name: obtener_vehiculos_dentro(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.obtener_vehiculos_dentro() RETURNS TABLE(id_res integer, v_placa character varying, v_tipo character varying, f_entrada timestamp without time zone)
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN QUERY 
    SELECT r.id_registro, r.placa, v.tipo_vehiculo, r.fecha_entrada
    FROM registros_parqueo r
    JOIN vehiculos v ON r.placa = v.placa
    WHERE r.estado = 'Activo';
END;
$$;


ALTER FUNCTION public.obtener_vehiculos_dentro() OWNER TO postgres;

--
-- Name: registrar_entrada(character varying, character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.registrar_entrada(p_placa character varying, p_tipo character varying) RETURNS void
    LANGUAGE plpgsql
    AS $$
BEGIN
    
    INSERT INTO vehiculos (placa, tipo_vehiculo)
    VALUES (p_placa, p_tipo)
    ON CONFLICT (placa) DO NOTHING;

   
    INSERT INTO registros_parqueo (placa, fecha_entrada, estado)
    VALUES (p_placa, CURRENT_TIMESTAMP, 'Activo');
END;
$$;


ALTER FUNCTION public.registrar_entrada(p_placa character varying, p_tipo character varying) OWNER TO postgres;

--
-- Name: registrar_salida(character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.registrar_salida(p_placa character varying) RETURNS void
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_id_reg INT;
    v_cobro NUMERIC;
BEGIN
    
    SELECT id_registro INTO v_id_reg 
    FROM registros_parqueo 
    WHERE placa = p_placa AND estado = 'Activo'
    LIMIT 1;

    IF v_id_reg IS NOT NULL THEN
        
        v_cobro := calcular_tarifa(v_id_reg);
        
        
        UPDATE registros_parqueo 
        SET fecha_salida = CURRENT_TIMESTAMP,
            valor_pagado = v_cobro
        WHERE id_registro = v_id_reg;
    END IF;
END;
$$;


ALTER FUNCTION public.registrar_salida(p_placa character varying) OWNER TO postgres;

--
-- Name: reporte_ingresos_desde_reinicio(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.reporte_ingresos_desde_reinicio() RETURNS numeric
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_ultima_fecha TIMESTAMP;
    v_total NUMERIC;
BEGIN
    -- Buscamos la fecha del ┬último reinicio de caja realizado
    SELECT MAX(fecha_cierre) INTO v_ultima_fecha FROM public.cierres_caja;
    
    -- Si nunca se ha presionado el bot┬ón, tomamos desde el inicio del d┬ía actual
    IF v_ultima_fecha IS NULL THEN
        v_ultima_fecha := CURRENT_DATE::TIMESTAMP;
    END IF;
    
    -- Sumamos ┬únicamente los registros finalizados despuÔÇÜs de esa fecha/hora
    SELECT COALESCE(SUM(valor_pagado), 0.00) INTO v_total
    FROM public.registros_parqueo
    WHERE estado = 'Finalizado' AND fecha_salida > v_ultima_fecha;
    
    RETURN v_total;
END;
$$;


ALTER FUNCTION public.reporte_ingresos_desde_reinicio() OWNER TO postgres;

--
-- Name: reporte_ingresos_diarios(date); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.reporte_ingresos_diarios(p_fecha date) RETURNS numeric
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_recaudo NUMERIC;
BEGIN
    SELECT COALESCE(SUM(valor_pagado), 0.00) INTO v_recaudo
    FROM registros_parqueo
    WHERE fecha_salida::DATE = p_fecha;
    
    RETURN v_recaudo;
END;
$$;


ALTER FUNCTION public.reporte_ingresos_diarios(p_fecha date) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auditoria_usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auditoria_usuarios (
    id_auditoria integer NOT NULL,
    id_usuario integer,
    username character varying(50),
    accion character varying(20),
    fecha_accion timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.auditoria_usuarios OWNER TO postgres;

--
-- Name: auditoria_usuarios_id_auditoria_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.auditoria_usuarios_id_auditoria_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.auditoria_usuarios_id_auditoria_seq OWNER TO postgres;

--
-- Name: auditoria_usuarios_id_auditoria_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.auditoria_usuarios_id_auditoria_seq OWNED BY public.auditoria_usuarios.id_auditoria;


--
-- Name: cierres_caja; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cierres_caja (
    id_cierre integer NOT NULL,
    fecha_cierre timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.cierres_caja OWNER TO postgres;

--
-- Name: cierres_caja_id_cierre_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cierres_caja_id_cierre_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cierres_caja_id_cierre_seq OWNER TO postgres;

--
-- Name: cierres_caja_id_cierre_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cierres_caja_id_cierre_seq OWNED BY public.cierres_caja.id_cierre;


--
-- Name: registros_parqueo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.registros_parqueo (
    id_registro integer NOT NULL,
    placa character varying(10),
    fecha_entrada timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_salida timestamp without time zone,
    valor_pagado numeric(10,2) DEFAULT 0.00,
    estado character varying(10) DEFAULT 'Activo'::character varying,
    CONSTRAINT registros_parqueo_estado_check CHECK (((estado)::text = ANY ((ARRAY['Activo'::character varying, 'Finalizado'::character varying])::text[])))
);


ALTER TABLE public.registros_parqueo OWNER TO postgres;

--
-- Name: registros_parqueo_id_registro_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.registros_parqueo_id_registro_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.registros_parqueo_id_registro_seq OWNER TO postgres;

--
-- Name: registros_parqueo_id_registro_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.registros_parqueo_id_registro_seq OWNED BY public.registros_parqueo.id_registro;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id_usuario integer NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(255) NOT NULL,
    rol character varying(20) NOT NULL,
    CONSTRAINT usuarios_rol_check CHECK (((rol)::text = ANY ((ARRAY['Administrador'::character varying, 'Operador'::character varying])::text[])))
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuarios_id_usuario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_usuario_seq OWNER TO postgres;

--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuarios_id_usuario_seq OWNED BY public.usuarios.id_usuario;


--
-- Name: vehiculos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vehiculos (
    placa character varying(10) NOT NULL,
    tipo_vehiculo character varying(20) NOT NULL,
    propietario character varying(100),
    CONSTRAINT vehiculos_tipo_vehiculo_check CHECK (((tipo_vehiculo)::text = ANY ((ARRAY['Carro'::character varying, 'Moto'::character varying])::text[])))
);


ALTER TABLE public.vehiculos OWNER TO postgres;

--
-- Name: auditoria_usuarios id_auditoria; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditoria_usuarios ALTER COLUMN id_auditoria SET DEFAULT nextval('public.auditoria_usuarios_id_auditoria_seq'::regclass);


--
-- Name: cierres_caja id_cierre; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cierres_caja ALTER COLUMN id_cierre SET DEFAULT nextval('public.cierres_caja_id_cierre_seq'::regclass);


--
-- Name: registros_parqueo id_registro; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.registros_parqueo ALTER COLUMN id_registro SET DEFAULT nextval('public.registros_parqueo_id_registro_seq'::regclass);


--
-- Name: usuarios id_usuario; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id_usuario SET DEFAULT nextval('public.usuarios_id_usuario_seq'::regclass);


--
-- Data for Name: auditoria_usuarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auditoria_usuarios (id_auditoria, id_usuario, username, accion, fecha_accion) FROM stdin;
1	1	jaider solano	REGISTRO	2026-06-21 18:49:19.529418
2	2	junior 12	REGISTRO	2026-06-21 19:08:10.552396
3	4	Carlos	REGISTRO	2026-06-21 21:42:50.113184
\.


--
-- Data for Name: cierres_caja; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cierres_caja (id_cierre, fecha_cierre) FROM stdin;
1	2026-06-21 22:13:52.776083
2	2026-06-21 22:16:15.613231
\.


--
-- Data for Name: registros_parqueo; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuarios (id_usuario, username, password_hash, rol) FROM stdin;
1	jaider solano	5994471abb01112afcc18159f6cc74b4f511b99806da59b3caf5a9c173cacfc5	Operador
2	junior 12	5994471abb01112afcc18159f6cc74b4f511b99806da59b3caf5a9c173cacfc5	Administrador
4	Carlos	5994471abb01112afcc18159f6cc74b4f511b99806da59b3caf5a9c173cacfc5	Operador
\.


--
-- Data for Name: vehiculos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.vehiculos (placa, tipo_vehiculo, propietario) FROM stdin;
IFC69E	Moto	\N
POM897	Carro	\N
IKL25I	Moto	\N
UJK654	Carro	\N
P├æL986	Carro	\N
OLP85P	Carro	\N
TYG87I	Moto	\N
\.


--
-- Name: auditoria_usuarios_id_auditoria_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auditoria_usuarios_id_auditoria_seq', 3, true);


--
-- Name: cierres_caja_id_cierre_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cierres_caja_id_cierre_seq', 2, true);


--
-- Name: registros_parqueo_id_registro_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.registros_parqueo_id_registro_seq', 13, true);


--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_id_usuario_seq', 4, true);


--
-- Name: auditoria_usuarios auditoria_usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditoria_usuarios
    ADD CONSTRAINT auditoria_usuarios_pkey PRIMARY KEY (id_auditoria);


--
-- Name: cierres_caja cierres_caja_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cierres_caja
    ADD CONSTRAINT cierres_caja_pkey PRIMARY KEY (id_cierre);


--
-- Name: registros_parqueo registros_parqueo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.registros_parqueo
    ADD CONSTRAINT registros_parqueo_pkey PRIMARY KEY (id_registro);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id_usuario);


--
-- Name: usuarios usuarios_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_username_key UNIQUE (username);


--
-- Name: vehiculos vehiculos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehiculos
    ADD CONSTRAINT vehiculos_pkey PRIMARY KEY (placa);


--
-- Name: registros_parqueo tg_actualizar_estado_salida; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER tg_actualizar_estado_salida BEFORE UPDATE ON public.registros_parqueo FOR EACH ROW EXECUTE FUNCTION public.fn_tr_actualizar_estado();


--
-- Name: usuarios tg_auditoria_usuarios; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER tg_auditoria_usuarios AFTER INSERT ON public.usuarios FOR EACH ROW EXECUTE FUNCTION public.fn_tr_auditoria_usuarios();


--
-- Name: vehiculos tg_formatear_placa_mayusculas; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER tg_formatear_placa_mayusculas BEFORE INSERT OR UPDATE ON public.vehiculos FOR EACH ROW EXECUTE FUNCTION public.fn_tr_placa_mayusculas();


--
-- Name: registros_parqueo tg_prevenir_eliminacion_registros; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER tg_prevenir_eliminacion_registros BEFORE DELETE ON public.registros_parqueo FOR EACH ROW EXECUTE FUNCTION public.fn_tr_prevenir_borrado();


--
-- Name: registros_parqueo tg_validar_vehiculo_dentro; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER tg_validar_vehiculo_dentro BEFORE INSERT ON public.registros_parqueo FOR EACH ROW EXECUTE FUNCTION public.fn_tr_validar_vehiculo();


--
-- Name: registros_parqueo registros_parqueo_placa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.registros_parqueo
    ADD CONSTRAINT registros_parqueo_placa_fkey FOREIGN KEY (placa) REFERENCES public.vehiculos(placa);


--
-- PostgreSQL database dump complete
--

\unrestrict IIgMRrcSQ7OOKwDAs9XTXyrxQa9Qb2QIJb3WV1dpWxI4YCrlGwTAnZO4uvUnKaj

